@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Protest+Riot&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    font-family: 'League Spartan', Arial, sans-serif;
    background-color: #ffffff;
}

/* header */
header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* logo */
.logo {
    margin-left: 20px;
    font-family: 'Protest Riot', Arial, Helvetica, sans-serif;
}

.logo h1 {
    font-size: 24px;
}

/* navigation */
.nav {
    margin-right: 20px;
}

.nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav ul li {
    margin-left: 50px;
}

.nav ul li .a {
    text-decoration: none;
    color: #000000;
    padding: 15px 10px;
    border-radius: 50px 100px 50px 40px;
    transition: background-color 0.2s ease;
}

.nav ul li .a:hover {
    background-color: #fff3f0;
}


/* button  nav (Sign Up) */
.signup-button {
    background-color: #fa3b10;
    border: 2px solid #fa3b10;
    color: #ffffff;
    padding: 13px 10px;
    border-radius: 50px 100px 50px 40px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.signup-button:hover {
    background-color: #ffffff;
    border: 2px solid #fa3b10;
    color: #000000;
}

/* Home Section */
.home {
    position: relative;
    height: 33rem;
    background-image: url('img/Betterimage.ai_1741717637059.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.content {
    padding: 100px;
    color: #ffffff;
}

.content h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* button  home (Learn More) */
.btn-hom {
    display: inline-block;
    background-color: #fa3b10;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 50px 80px 20px 40px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    position: relative;
}

.btn-hom::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white;
    transition: transform 0.3s ease;
    transform: scaleX(0);
}

.btn-hom:hover::after {
    transform: scaleX(1);
}

.btn-hom:hover {
    background-color: #df104b;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
}

/* About Section */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* card About */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 30px;
}

.card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 20px;
    margin: 10px;
    flex: 1;
    cursor: pointer;
    min-width: 250px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.card-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

/* details About */
.details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.about-title {
    font-size: 28px;
    color: #ff4800;
    margin-bottom: 30px;
    font-weight: bold;
}

.about-description {
    margin-bottom: 20px;
    font-size: 18px;
    color: #c64f05;
}

.about-list {
    list-style-type: none;
    padding: 0;
}

.about-list li {
    width: 100%;
    display: block;
    margin: 15px 0;
    padding: 10px;
    background-color: #f3f4f681;
    border-radius: 15px;
    font-size: 16px;
    color: #4c306d;
}

.list-title {
    font-weight: bold;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #127da0;
}

.about-button {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ff4800;
  color: #171717;
  text-decoration: none;
  border-radius: 50px 100px 80px 100px;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.about-button:hover {
  color: #ffffff;
  background-color: #ff4800;
  transform: scale(1.05);
}