@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Protest+Riot&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* body */
body {
    font-family: 'League Spartan', Arial, sans-serif;
    background-color: #ffffff;
}

/* header */
header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* logo */
.logo {
    margin-left: 20px;
    font-family: 'Protest Riot', Arial, Helvetica, sans-serif;
}

.logo h1 {
    font-size: 24px;
}

/* navigation */
.nav {
    margin-right: 20px;
}

.nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav ul li {
    margin-left: 50px;
}

.nav ul li .a {
    text-decoration: none;
    color: #000000;
    padding: 15px 10px;
    border-radius: 50px 100px 50px 40px;
    transition: background-color 0.2s ease;
}

.nav ul li .a:hover {
    background-color: #fff3f0;
}


/* button  nav (Sign Up) */
.signup-button {
    background-color: #fa3b10;
    border: 2px solid #fa3b10;
    color: #ffffff;
    padding: 13px 10px;
    border-radius: 50px 100px 50px 40px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.signup-button:hover {
    background-color: #ffffff;
    border: 2px solid #fa3b10;
    color: #000000;
}

/* Home Section */
.home {
    position: relative;
    height: 33rem;
    background-image: url('img/Betterimage.ai_1741717637059.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.content {
    padding: 100px;
    color: #ffffff;
}

.content h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* button  home (Learn More) */
.btn-hom {
    display: inline-block;
    background-color: #fa3b10;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 50px 80px 20px 40px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    position: relative;
}

.btn-hom::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white;
    transition: transform 0.3s ease;
    transform: scaleX(0);
}

.btn-hom:hover::after {
    transform: scaleX(1);
}

.btn-hom:hover {
    background-color: #df104b;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
}

/* About Section */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* card About */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 30px;
}

.card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 20px;
    margin: 10px;
    flex: 1;
    cursor: pointer;
    min-width: 250px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.card-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

/* details About / Services / contact */
.details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.about-title {
    font-size: 28px;
    color: #ff4800;
    margin-bottom: 30px;
    font-weight: bold;
}

.about-description {
    margin-bottom: 20px;
    font-size: 18px;
    color: #c64f05;
}

.about-list {
    list-style-type: none;
    padding: 0;
}

.about-list li {
    width: 100%;
    display: block;
    margin: 15px 0;
    padding: 10px;
    background-color: #f3f4f681;
    border-radius: 15px;
    font-size: 16px;
    color: #4c306d;
}

.list-title {
    font-weight: bold;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #127da0;
}

.about-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ff4800;
    color: #171717;
    text-decoration: none;
    border-radius: 50px 100px 80px 100px;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.about-button:hover {
    color: #ffffff;
    background-color: #ff4800;
    transform: scale(1.05);
}

/* Services Section */
.services {
    padding: 30px 60px 60px;
    text-align: center;
    background-color: #ffcbc1;
}

/* services title */
.services-title {
    font-size: 28px;
    color: #f30061;
    margin-bottom: 25px;
    font-weight: bold;

}

/* all Services  */
.service-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.service {
    background-color: white;
    border: 2px solid white;
    padding: 10px;
    width: 300px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-color: #f30061;
}

.service h3 {
    font-size: 1.2rem;
    margin-top: 10px;
}

.service:hover h3 {
    color: #f30061;
}

.service p {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
}

.service-img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

/* button service (show-more) */
#show-more {
    padding: 10px 35px;
    border: none;
    margin-top: 50px;
    border: 2px solid #ff1271;
    border-radius: 90px 30px 80px 50px;
    background-color: #f30061;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#show-more:hover {
    transform: scale(1.03);
    background-color: #ff0b6d;
}

/* Section contact */
.contact {
    text-align: center;
    padding: 50px 50px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* details contact  */
.contact-title {
    font-size: 28px;
    color: #a24b8f;
    margin-bottom: 30px;
    font-weight: bold;
}

.contact-description {
    margin-bottom: 15px;
    font-size: 18px;
    color: #d51126;
}

/* form contact */
input[type="text"],
input[type="email"] {
    width: 90%;
    padding: 15px;
    margin: 10px;
    border: none;
    background-color: #f4f4f4;
    border-radius: 20px 15px;
}

/* button contact (Send) */
.contact button {
    padding: 10px 35px;
    border: none;
    margin: 20px;
    border: 2px solid #c569b1;
    border-radius: 50px 30px 50px 50px;
    background-color: #a24b8f;
    color: #ffffff;
    cursor: pointer;
    transition: padding 0.3s ease, transform 0.2s ease, background-color 0.3s ease;
}

button:hover {
    padding: 10px 45px;
    transform: scale(1.03);
    background-color: #c569b1;
}

/* footer */
.footer {
    background-color: #f15651;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
}

.footer-section h2 {
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.footer-section p,
.footer-section ul {
    line-height: 1.5;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 10px 0;
}

.footer-section ul li a {
    color: #f8f8f8;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #a24b8f;
}

.footer-section.contact {
    background-color: #a24b8f;
    color: #ffffff;
    border-radius: 5px;
}

.footer-bottom {
    margin-top: 10px;
    font-size: 14px;
}

.footer-bottom p {
    margin-top: 10px;
}